@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor @ViewData["Dev"] </p>

<address>
    <strong> Mais Informacoes : </strong> <a href="http:\\enorweb.com"> Enorweb Sistemas</a>
</address>